@{
	ViewData["Title"] = "Login";

}
@model SystemAccount
<div>
	<h1>Login</h1>
	<form asp-action="Login" method="post">
		<div>
			<label for="username">Username</label>
			<input type="text" asp-for="AccountEmail" />
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" asp-for="AccountPassword" />
		</div>
		<div>
			<p>
				@ViewBag.Message
			</p>
		</div>
		<div>
			<button type="submit">Login</button>
		</div>
	</form>
</div>