@{
    ViewData["Title"] = "Category Page";
}
<div class="">
    <div style="text-align: center"> 
        <h1>
            Are you sure to delete it?
        </h1>
    </div>
    <div style="display: flex; justify-content:center   ">
        <div>
            <button style="width: 350px;height :50px">
                <a asp-action="Index" asp-controller="Category" class="nav-link text-dark">Back to List Category</a>
            </button>
        </div>
        <div style="margin-left: 50px; margin-right:50px">
            <p> </p>
        </div>
        <div>
            <form asp-action="Delete" method="post">
                <button type="submit" style="width: 350px;height :50px">
                    Yes
                </button>
            </form>
        </div>
    </div>
</div>